# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=

# Variável do GTM
NUXT_GTM_ID=

# Variáveis do serviço de Email JS
NUXT_EMAILJS_SERVICE_ID=
NUXT_EMAILJS_USER_ID=