@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Open Sans', sans-serif;

  --color-primary-500: var(#152B50);

}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}
