@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Open Sans', sans-serif;

  --color-primary-50: #f0f4fb;
  --color-primary-100: #d9e4f7;
  --color-primary-200: #b3c9ef;
  --color-primary-300: #8daee7;
  --color-primary-400: #6793df;
  --color-primary-500: #152B50; /* Cor principal */
  --color-primary-600: #112344;
  --color-primary-700: #0d1c38;
  --color-primary-800: #09142c;
  --color-primary-900: #050d20;
  --color-primary-950: #030814;
}

:root {
  --ui-header-height: 70px;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}
